@model IEnumerable<CoromotoAccess.Models.Empleado>
@{
    ViewBag.Title = "AsignarTurno";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center mb-4">Asignar Turno</h2>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#asignarTurnoModal">Asignar Turno</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Empleado</th>
                <th>Disponibilidad</th>
                <th>Turno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empleado in Model)
            {
                var nombreCompleto = empleado.Nombre + " " + empleado.Apellido;
                var turnoEmpleado = empleado.Activo ? ViewBag.DiccionarioTurnos[empleado.IdTurno] : "";

                <tr>
                    <td>@nombreCompleto</td>
                    <td>@(empleado.Activo ? "Asignado" : "No asignado")</td>
                    <td>@turnoEmpleado</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#asignarTurnoModal"
                                onclick="document.getElementById('idEmpleado').value = @empleado.ConsecutivoEmp;
                            document.getElementById('targetName').value = '@nombreCompleto';">
                            Editar Turno
                        </button>
                        @if (empleado.Activo)
                        {
                            using (Html.BeginForm("DesasignarTurno", "Empleados", FormMethod.Post))
                            {
                                @Html.Hidden("ConsecutivoEmp", empleado.ConsecutivoEmp)
                                <button type="submit" class="btn btn-danger">Eliminar Turno</button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal Asignar Turno -->
    <div class="modal fade" id="asignarTurnoModal" tabindex="-1" aria-labelledby="asignarTurnoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="asignarTurnoModalLabel">Asignar Turno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AsignarTurno", "Empleados", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <input id="idEmpleado" type="hidden" name="ConsecutivoEmp">

                        <div class="form-group">
                            <label for="empleado" class="form-label">Empleado:</label>
                            <input id="targetName" type="text" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="turno" class="form-label">Turno:</label>
                            @Html.DropDownList("IdTurno", (SelectList)ViewBag.Turnos, "Seleccione un turno", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-outline-dark">Asignar Turno</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
