@model List<CoromotoAccess.Models.Turnos>
@{
    ViewBag.Title = "CrearTurno";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center mb-4">Crear Turno</h2>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#crearTurnoModal">Crear Turno</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID del Turno</th>
                <th>Nombre</th>
                <th>Hora de Inicio</th>
                <th>Hora de Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var turno in Model)
                    {
                        <tr>
                            <td>@turno.IdTurno</td>
                            <td>@turno.Nombre</td>
                            <td>@turno.HoraInicio</td>
                            <td>@turno.HoraSalida</td>
                            <td>
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modificarTurnoModal"
                                        onclick="document.getElementById('idTurno').value = @turno.IdTurno">
                                    Modificar
                                </button>
                                @using (Html.BeginForm("EliminarTurno", "Empleados", FormMethod.Post))
                                {
                                    @Html.Hidden("id", turno.IdTurno)
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                }

                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    <!-- Modal Crear Turno -->
    <div class="modal fade" id="crearTurnoModal" tabindex="-1" aria-labelledby="crearTurnoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearTurnoModalLabel">Crear Turno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("CrearTurno", "Empleados", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="nombreTurno" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreTurno" name="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="horaInicio" class="form-label">Hora de Inicio:</label>
                            <input type="time" class="form-control" id="horaInicio" name="HoraInicio" required>
                        </div>
                        <div class="form-group">
                            <label for="horaFinal" class="form-label">Hora de Final:</label>
                            <input type="time" class="form-control" id="horaFinal" name="HoraSalida" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-outline-dark">Crear Turno</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Modificar -->
    <div class="modal fade" id="modificarTurnoModal" tabindex="-1" aria-labelledby="modificarTurnoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modificarTurnoModalLabel">Modificar Turno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("ModificarTurno", "Empleados", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <input type="hidden" id="idTurno" name="IdTurno">

                        <div class="form-group">
                            <label for="nombreTurno" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreTurno" name="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="horaInicio" class="form-label">Hora de Inicio:</label>
                            <input type="time" class="form-control" id="horaInicio" name="HoraInicio" required>
                        </div>
                        <div class="form-group">
                            <label for="horaFinal" class="form-label">Hora de Final:</label>
                            <input type="time" class="form-control" id="horaFinal" name="HoraSalida" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-outline-dark">Modificar Turno</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
