@{
    ViewBag.Title = "HojaDeConfiguracion";
}

@model CoromotoAccess.Models.Parametros

@if (ViewBag.MensajeExito != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        @ViewBag.MensajeExito
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (ViewBag.MensajeError != null)
{
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        @ViewBag.MensajeError
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Hoja de Configuración</h2>
    <p class="text-center">Utiliza las opciones a continuación para gestionar los parámetros del sistema.</p>

    <div class="row mb-3">
        <div class="col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-villa-list" data-toggle="list" href="#list-villa" role="tab" aria-controls="villa">Villas</a>
                <a class="list-group-item list-group-item-action" id="list-metodos-pago-list" data-toggle="list" href="#list-metodos-pago" role="tab" aria-controls="metodos-pago">Métodos de Pago</a>
                <a class="list-group-item list-group-item-action" id="list-tipos-habitacion-list" data-toggle="list" href="#list-tipos-habitacion" role="tab" aria-controls="tipos-habitacion">Tipos de Habitación</a>
                <a class="list-group-item list-group-item-action" id="list-tipos-moneda-list" data-toggle="list" href="#list-tipos-moneda" role="tab" aria-controls="tipos-moneda">Tipos de Moneda</a>
                <a class="list-group-item list-group-item-action" id="list-tipos-categoria-list" data-toggle="list" href="#list-tipos-categoria" role="tab" aria-controls="tipos-categoria">Categorias</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="nav-tabContent">
                <!-- Villas -->
                <div class="tab-pane fade show active" id="list-villa" role="tabpanel" aria-labelledby="list-villa-list">
                    <h3>Villas</h3>
                    <button class="btn btn-dark mb-3" data-toggle="modal" data-target="#agregarVillaModal">Agregar villa</button>
                    <ul class="list-group" id="listaVillas">
                        @if (Model.Villas != null && Model.Villas.Any())
                        {
                            foreach (var villa in Model.Villas)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @villa.NombreHabitacion
                                    <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarVilla", "Parametros", new { id = villa.IdVilla })">Modificar</a>
                                        <form action="@Url.Action("EliminarVilla", "Parametros")" method="post">
                                            <input type="hidden" name="IdVilla" value="@villa.IdVilla" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta villa?')">Eliminar</button>
                                        </form>
                                    </div>

                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No hay datos en la base de datos</li>
                        }
                    </ul>
                </div>
                <!-- Métodos de Pago -->
                <div class="tab-pane fade" id="list-metodos-pago" role="tabpanel" aria-labelledby="list-metodos-pago-list">
                    <h3>Métodos de Pago</h3>
                    <button class="btn btn-dark mb-3" data-toggle="modal" data-target="#agregarMetodoPagoModal">Agregar Método de Pago</button>
                    <ul class="list-group" id="listaMetodosPago">
                        @if (Model.MetodosPago != null && Model.MetodosPago.Any())
                        {
                            foreach (var metodo in Model.MetodosPago)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @metodo.NombreMetodoP
                                    <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarMetodoPago", "Parametros", new { id = metodo.IdMetodoP })">Modificar</a>
                                        <form action="@Url.Action("EliminarMetodoP", "Parametros")" method="post">
                                            <input type="hidden" name="IdMetodoP" value="@metodo.IdMetodoP" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este método?')">Eliminar</button>
                                        </form>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No hay datos en la base de datos</li>
                        }
                    </ul>
                </div>
                <!-- Tipos de Habitación -->
                <div class="tab-pane fade" id="list-tipos-habitacion" role="tabpanel" aria-labelledby="list-tipos-habitacion-list">
                    <h3>Tipos de Habitación</h3>
                    <button class="btn btn-dark mb-3" data-toggle="modal" data-target="#agregarTipoHabitacionModal">Agregar Tipo de Habitación</button>
                    <ul class="list-group" id="listaTiposHabitacion">
                        @if (Model.TiposHabitacion != null && Model.TiposHabitacion.Any())
                        {
                            foreach (var tipo in Model.TiposHabitacion)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @tipo.NombreTipodeHabitcion
                                    <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarTipoHabitacion", "Parametros", new { id = tipo.IdTipodeHabitacion })">Modificar</a>
                                        <form action="@Url.Action("EliminarTipoHabitacion", "Parametros")" method="post">
                                            <input type="hidden" name="IdTipodeHabitacion" value="@tipo.IdTipodeHabitacion" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este tipo de habitación?')">Eliminar</button>
                                        </form>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No hay datos en la base de datos</li>
                        }
                    </ul>
                </div>
                <!-- Tipos de Moneda -->
                <div class="tab-pane fade" id="list-tipos-moneda" role="tabpanel" aria-labelledby="list-tipos-moneda-list">
                    <h3>Tipos de Moneda</h3>
                    <button class="btn btn-dark mb-3" data-toggle="modal" data-target="#agregarTipoMonedaModal">Agregar Tipos de Moneda</button>
                    <ul class="list-group" id="listaTiposMoneda">
                        @if (Model.TiposMoneda != null && Model.TiposMoneda.Any())
                        {
                            foreach (var tipo in Model.TiposMoneda)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @tipo.NombreMoneda
                                    <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarMoneda", "Parametros", new { id = tipo.IdMoneda })">Modificar</a>
                                        <form action="@Url.Action("EliminarTipoMoneda", "Parametros")" method="post">
                                            <input type="hidden" name="IdMoneda" value="@tipo.IdMoneda" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta moneda?')">Eliminar</button>
                                        </form>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No hay datos en la base de datos</li>
                        }
                    </ul>
                </div>
                <!-- Categorias -->
                <div class="tab-pane fade" id="list-tipos-categoria" role="tabpanel" aria-labelledby="list-tipos-categoria-lis">
                    <h3>Categoria</h3>
                    <button class="btn btn-dark mb-3" data-toggle="modal" data-target="#agregarCategoriaModal">Agregar Categoria</button>
                    <ul class="list-group" id="listaTiposMoneda">
                        @if (Model.Categorias != null && Model.Categorias.Any())
                        {
                            foreach (var tipo in Model.Categorias)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @tipo.Nombre
                                    <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarCategoria", "Parametros", new { id = tipo.IdCategoria })">Modificar</a>
                                        <form action="@Url.Action("EliminarCategoria", "Parametros")" method="post">
                                            <input type="hidden" name="IdCategoria" value="@tipo.IdCategoria" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta categoría?')">Eliminar</button>
                                        </form>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No hay datos en la base de datos</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar Villas -->
<div class="modal fade" id="agregarVillaModal" tabindex="-1" role="dialog" aria-labelledby="agregarVillaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarVillaModalLabel">Agregar Villa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="agregarVillaForm" method="post" action="@Url.Action("AgregarVilla", "Parametros")">
                    <div class="form-group">
                        <label for="nuevoVillaModal">Nombre de la Villa:</label>
                        <input type="text" class="form-control" id="nuevoVillaModal" name="NombreHabitacion" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para agregar Método de Pago -->
<div class="modal fade" id="agregarMetodoPagoModal" tabindex="-1" role="dialog" aria-labelledby="agregarMetodoPagoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarMetodoPagoModalLabel">Agregar Método de Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="agregarMetodoPagoForm" method="post" action="@Url.Action("AgregarMetodoP", "Parametros")">
                    <div class="form-group">
                        <label for="nuevoMetodoPagoModal">Nuevo Método de Pago:</label>
                        <input type="text" class="form-control" id="nuevoMetodoPagoModal" name="NombreMetodoP" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar Tipo de Habitación -->
<div class="modal fade" id="agregarTipoHabitacionModal" tabindex="-1" role="dialog" aria-labelledby="AgregarTipoHabitacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarTipoHabitacionModalLabel">Agregar Tipo de Habitación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="agregarTipoHabitacionForm" method="post" action="@Url.Action("AgregarTipoHabitacion", "Parametros")">
                    <div class="form-group">
                        <label for="nuevoTipoHabitacionModal">Nuevo Tipo de Habitación:</label>
                        <input type="text" class="form-control" id="nuevoTipoHabitacionModal" name="NombreTipodeHabitcion" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar Tipo de Moneda -->
<div class="modal fade" id="agregarTipoMonedaModal" tabindex="-1" role="dialog" aria-labelledby="agregarTipoMonedaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarTipoMonedaModalLabel">Agregar Tipo de Moneda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="agregarTipoMonedaForm" method="post" action="@Url.Action("AgregarTipoMoneda", "Parametros")">
                    <div class="form-group">
                        <label for="nuevoTipoMonedaModal">Nuevo Tipo de Moneda:</label>
                        <input type="text" class="form-control" id="nuevoTipoMonedaModal" name="NombreMoneda" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar Tipo de Categoria -->
<div class="modal fade" id="agregarCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="agregarCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarCategoriaModalLabel">Agregar Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="agregarCategoriaForm" method="post" action="@Url.Action("AgregarCategoria", "Parametros")">
                    <div class="form-group">
                        <label for="nuevoCategoriaModal">Nuevo Tipo de Categoria:</label>
                        <input type="text" class="form-control" id="nuevoCategoriaModal" name="Nombre" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>