@model List<CoromotoAccess.Models.Empleado>
@{
    ViewBag.Title = "EvaluacionEmpleados";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Evaluación de Empleados</h2>

    <div class="d-flex justify-content-end mb-3">
        <div class="input-group" style="width: 250px;">
            <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="Buscar empleado..." aria-label="Buscar">
            <button class="btn btn-info btn-sm" type="button" id="searchButton">Buscar</button>
        </div>
    </div>

    <div class="table-responsive" style="max-width: 800px; margin: auto;">
        <table class="table table-sm table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Horas</th>
                    <th>Comentario</th>
                    <th>Calificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="empleadosTable">
                @{
                    int calificacion = 0;
                    string nombreEmpleado = "", nombreRol = "", comentario = "", nombreCalificacion = "";

                    foreach (var empleado in Model)
                    {
                        calificacion = ViewBag.Calificaciones.ContainsKey(empleado.ConsecutivoEmp) ?
                            ViewBag.Calificaciones[empleado.ConsecutivoEmp] : 0;
                        nombreEmpleado = empleado.Nombre + " " + empleado.Apellido;
                        nombreRol = ViewBag.DiccionarioRoles[empleado.IdRol];
                        comentario = ViewBag.Comentarios.ContainsKey(empleado.ConsecutivoEmp) ?
                            ViewBag.Comentarios[empleado.ConsecutivoEmp] : "-";
                        nombreCalificacion = ViewBag.DiccionarioCalificaciones[calificacion];

                        <tr class="empleadoRow">
                            <td class="nombreEmpleado">@nombreEmpleado</td>
                            <td>@nombreRol</td>
                            <td>@empleado.HorasTrabajadas</td>
                            <td>@comentario</td>
                            <td>@nombreCalificacion</td>
                            <td>
                                <button type="button" onclick="document.getElementById('IdEmpleado').value='@empleado.ConsecutivoEmp'"
                                        class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#evaluarEmpleadoModal">
                                    Evaluar
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function buscarEmpleado() {
        var searchValue = document.getElementById("searchInput").value.trim().toLowerCase();
        var rows = document.querySelectorAll(".empleadoRow");

        rows.forEach(function (row) {
            var nombreEmpleado = row.querySelector(".nombreEmpleado").textContent.toLowerCase();
            if (nombreEmpleado.includes(searchValue)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }

    document.getElementById("searchInput").addEventListener("keyup", function (event) {
        if (event.key === "Enter") {
            buscarEmpleado();
        }
    });

    document.getElementById("searchButton").addEventListener("click", buscarEmpleado);
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
