@model IEnumerable<CoromotoAccess.Models.Vacaciones>
@{ ViewBag.Title = "GestionarVacaciones"; }

<link href="~/Styles/css/tabla.css" rel="stylesheet" />

<div class="container mt-5">
    <h1 class="text-center mb-4">Gestión de Vacaciones</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Solicitar Vacaciones</h2>
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#solicitarVacacionesModal">Solicitar Vacaciones</button>
    </div>

    <div class="villa-container">
        <h3 class="villa-title">Vacaciones de Empleados</h3>
        <div class="table-responsive">
            <table class="villa-table table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>ID Empleado</th>
                        <th>Días de Vacaciones Disponibles</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var vacacion in Model)
                        {
                            var empleado = ViewBag.DiccionarioEmpleados[vacacion.IdEmpleado];

                            var estadoVacacion = "-";

                            if (vacacion.Estado == 0)
                            {
                                estadoVacacion = "Pendiente";
                            }
                            else if (vacacion.Estado == 1)
                            {
                                estadoVacacion = "Aprobada";
                            }
                            else if (vacacion.Estado == 2)
                            {
                                estadoVacacion = "Rechazada";
                            }

                            <tr>
                                <td>@vacacion.IdEmpleado</td>
                                <td>@empleado.Vacaciones</td>
                                <td>@vacacion.FechaInicio.ToString("dd/MM/yyyy")</td>
                                <td>@vacacion.FechaFin.ToString("dd/MM/yyyy")</td>
                                <td>@estadoVacacion</td>
                                <td>
                                    @if (vacacion.Estado == 0)
                                    {
                                        <div class="btn-group" role="group">
                                            @using (Html.BeginForm("AprobarVacaciones", "RecursosHumanos", FormMethod.Post))
                                            {
                                                @Html.Hidden("id", vacacion.IdVacacion)
                                                <button type="submit" class="btn btn-success btn-sm">Aprobar</button>
                                            }
                                            @using (Html.BeginForm("RechazarVacaciones", "RecursosHumanos", FormMethod.Post))
                                            {
                                                @Html.Hidden("id", vacacion.IdVacacion)
                                                <button type="submit" class="btn btn-danger btn-sm">Rechazar</button>
                                            }
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal Solicitar Vacaciones -->
    <div class="modal fade" id="solicitarVacacionesModal" tabindex="-1" aria-labelledby="solicitarVacacionesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="solicitarVacacionesModalLabel">Solicitar Vacaciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("CrearVacaciones", "RecursosHumanos", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="IdEmpleado" class="form-label">Empleado:</label>
                            @Html.DropDownList("IdEmpleado", (SelectList)ViewBag.Empleados, "Seleccione un empleado", new
                            {
                                @class = "form-control",
                                required = "required",
                                @onchange = "document.getElementById('diasDisponibles').value = '';"
                            })
                        </div>
                        <div class="form-group">
                            <label class="form-label">Días de vacaciones disponibles:</label>
                            <input id="diasDisponibles" type="number" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                            <input id="fechaInicio" name="FechaInicio" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFin" class="form-label">Fecha de Fin:</label>
                            <input id="fechaFin" name="FechaFin" type="date" class="form-control" required>
                        </div>

                        <input name="Estado" type="hidden" value="0">

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-outline-dark">Solicitar Vacaciones</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        function aprobarVacaciones(idEmpleado) {
            if (confirm('¿Está seguro de que desea aprobar las vacaciones para el empleado con ID: ' + idEmpleado + '?')) {
                alert('Vacaciones aprobadas para el empleado con ID: ' + idEmpleado);
                // Lógica para aprobar las vacaciones
            }
        }
    </script>
