@model List<CoromotoAccess.Models.Activo>
    
<link href="~/Styles/css/tabla.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Administar Activos</h2>
        @if (Session["NombreRol"] != null && Session["NombreRol"].ToString() == "Administrador")
        {
            <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#activoModal" onclick="agregarActivo()">Agregar Activo</button>
        }
    </div>

    <br />

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="buscarCategoria" placeholder="Filtrar por categoría">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="filtrarCategoria()">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="buscarHabitacion" placeholder="Filtrar por habitación">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="filtrarHabitacion()">Filtrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="buscarVilla" placeholder="Filtrar por Villa">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="filtrarVilla()">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="buscarHabitacion" placeholder="Filtrar por Numero de Serie">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="filtrarHabitacion()">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
    <br />



    @foreach (var habitacion in ViewBag.Habitaciones)
    {
        <div class="villa-container">
            <h3 class="villa-title">@habitacion.Text</h3>
            <table class="villa-table">
                <thead>
                    <tr>
                        <th>IdHabitacion</th>
                        <th>Nombre</th>
                        <th>Modelo</th>
                        <th>NumeroSerie</th>
                        <th>Descripcion</th>
                        <th>IdCategoria</th>
                        @if (Session["NombreRol"] != null && Session["NombreRol"].ToString() == "Administrador")
                        {
                            <th>Acciones</th>
                        }
                        </tr>
                </thead>
                <tbody>
                    @foreach (var activo in Model.Where(h => h.IdHabitacion.ToString() == habitacion.Value))
                    {
                        <tr>
                            <td>@activo.IdHabitacion</td>
                            <td>@activo.Nombre</td>
                            <td>@activo.Modelo</td>
                            <td>@activo.NumeroSerie</td>
                            <td>@activo.Descripcion</td>
                            <td>@activo.IdCategoria</td>
                            @if (Session["NombreRol"] != null && Session["NombreRol"].ToString() == "Administrador")
                            {
                                <td>

                                    <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarActivo", "Activos", new { id = activo.IdActivo })">Modificar</a>
                                    <form action="@Url.Action("EliminarActivo", "Activos")" method="post" style="display:inline;">
                                        <input type="hidden" name="IdActivo" value="@activo.IdActivo" />
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este activo?')">Eliminar</button>
                                    </form>

                                    

                                </td>
                            }
                            </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
    }
</div>



<!-- Modal para agregar/modificar activo -->
<div class="modal fade" id="activoModal" tabindex="-1" role="dialog" aria-labelledby="activoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activoModalLabel">Agregar/Modificar Activo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CrearActivo", "Activos", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="activoHabitacion">Habitación:</label>
                        @Html.DropDownList("IdHabitacion", (SelectList)ViewBag.Habitaciones, "Selecciona una habitación", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="activoNombre">Nombre del Activo:</label>
                        <input type="text" class="form-control" id="activoNombre" name="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="activoModelo">Modelo:</label>
                        <input type="text" class="form-control" id="activoModelo" name="Modelo" required>
                    </div>
                    <div class="form-group">
                        <label for="activoNumeroSerie">Número de Serie:</label>
                        <input type="text" class="form-control" id="activoNumeroSerie" name="NumeroSerie" required>
                    </div>
                    <div class="form-group">
                        <label for="activoDescripcion">Descripción:</label>
                        <textarea class="form-control" id="activoDescripcion" name="Descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="activoCategoria">Categoría:</label>
                        @Html.DropDownList("IdCategoria", (SelectList)ViewBag.Categorias, "Selecciona una categoría", new { @class = "form-control" })
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/CoromotoAccess/Activos.js"></script>
