@model CoromotoAccess.Models.Activo
@{
    ViewBag.Title = "ModificarActivo";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Modificar Activo</h2>

    @if (ViewBag.MensajePantalla != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.MensajePantalla
        </div>
    }

    @using (Html.BeginForm("ModificarActivo", "Activos", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.HiddenFor(m => m.IdActivo)

        <div class="mb-4">
            <label class="form-label fw-semibold">ID de Habitación:</label>
            @Html.DropDownList("IdHabitacion", (SelectList)ViewBag.Habitaciones, "Seleccione una Habitación", new { @class = "form-control", required = "required" })
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Nombre:</label>
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", required = "required" })
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Modelo:</label>
            @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control", required = "required" })
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Número de Serie:</label>
            @Html.TextBoxFor(m => m.NumeroSerie, new { @class = "form-control", required = "required" })
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Descripción:</label>
            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", required = "required" })
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">ID de Categoria:</label>
            @Html.DropDownList("IdCategoria", (SelectList)ViewBag.Categorias, "Seleccione una Categoria", new { @class = "form-control", required = "required" })
        </div>

      
        <div class="d-flex justify-content-end gap-2">
            <a href="@Url.Action("AdministrarActivos", "Activos")" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    }
</div>