@model IEnumerable<CoromotoAccess.Models.Usuario>

@{
    ViewBag.Title = "Gestión de Cliente";
}

<link href="~/Styles/css/tabla.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center">Gestión de Cliente</h2>
        <button class="btn btn-outline-dark ml-3" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">Agregar Cliente</button>
        <div class="input-group w-50">
            <input type="text" class="form-control" id="buscarCliente" placeholder="Buscar cliente por nombre">
            <div class="input-group-append" style="margin-left: 5px;">
                <button class="btn btn-outline-dark" type="button" onclick="filtrarCliente()">Buscar</button>
            </div>
        </div>
    </div>

    @if (ViewBag.MensajePantalla != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.MensajePantalla
        </div>
    }

    <div class="villa-container">
        <h3 class="villa-title">Clientes Registrados</h3>
        <div class="table-responsive">
            <table class="villa-table table table-bordered" id="tablaClientes">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre Completo</th>
                        <th>ID</th>
                        <th>Teléfono</th>
                        <th>Correo Electrónico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaClientesBody">
                    @foreach (var cliente in Model)
                    {
                        <tr class="cliente-row">
                            <td>@cliente.Nombre @cliente.Apellido</td>
                            <td>@cliente.ConsecutivoCliente</td>
                            <td>@cliente.Telefono</td>
                            <td>@cliente.CorreoElectronico</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarCliente", "Clientes", new { id = cliente.ConsecutivoCliente })" role="button">Modificar</a>
                                <a class="btn btn-info btn-sm" href="@Url.Action("HistorialCliente", "Clientes", new { id = cliente.ConsecutivoCliente })" role="button">Historial de Reservas</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p id="noResultsMessage" class="text-center text-muted" style="display:none;">No se ha encontrado al usuario buscado</p>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="agregarClienteModal" tabindex="-1" role="dialog" aria-labelledby="agregarClienteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarClienteModalLabel">Agregar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensajePantalla != null)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        @ViewBag.MensajePantalla
                    </div>
                }
                @using (Html.BeginForm("AgregarCliente", "Clientes", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-4" for="Identificacion">Identificacion:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Identificacion" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="Nombre">Nombre:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Nombre" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="Apellido">Apellido:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Apellido" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="CorreoElectronico">Correo Electronico:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="CorreoElectronico" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="Telefono">Teléfono:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Telefono" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="FotoPerfil">Foto de Perfil:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="FotoPerfil" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="Contrasenna">Contraseña:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Contrasenna" required />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function filtrarCliente() {
        var input = document.getElementById("buscarCliente").value.toLowerCase();
        var rows = document.getElementsByClassName("cliente-row");
        var noResultsMessage = document.getElementById("noResultsMessage");
        var found = false;

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var nombreCompleto = row.getElementsByTagName("td")[0].textContent.toLowerCase();

            if (nombreCompleto.includes(input)) {
                row.style.display = "";
                found = true;
            } else {
                row.style.display = "none";
            }
        }

        noResultsMessage.style.display = found ? "none" : "block";
    }
</script>
