@model IEnumerable<CoromotoAccess.Models.Usuario>

@{
    ViewBag.Title = "Gestión de Cliente";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center">Gestión de Cliente</h2>
        <div class="input-group w-50">
            <input type="text" class="form-control" id="buscarCliente" placeholder="Buscar cliente por nombre">
            <div class="input-group-append" style="margin-left: 5px;">
                <button class="btn btn-outline-dark" type="button">Buscar</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" id="tablaClientes">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>ID</th>
                    <th>Teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Nombre @cliente.Apellido</td>
                        <td>@cliente.ConsecutivoCliente</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.CorreoElectronico</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("ModificarCliente", "Clientes", new { id = cliente.ConsecutivoCliente })" role="button">Modificar</a>
                            <a class="btn btn-info btn-sm" href="@Url.Action("HistorialCliente", "Clientes", new { id = cliente.ConsecutivoCliente })" role="button">Historial de Reservas</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>